*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    
}

footer{
    background-color: rgb(41, 41, 41);
    height: 600px;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 600px;
}

.header-container,
.header-title,
.first-main-section,
.second-main-section,
.third-main-section,
.fourth-main-section,
.adventure-section,
.footer-end-container{
    max-width: 1400px;
    margin: 0 auto;
}

.header-container nav li{
    display: inline-block;
    font-size: 1.2em;
}

.header-container nav ul{
    display: inline-block;
    list-style-type: none;
}

.header-container nav img{
    vertical-align: middle;
}

nav.topbar{
    height: 80px;
    line-height: 80px;
}

nav.topbar .header-menu{
    height: 100%;
    padding-left: 300px;
}

nav.topbar .login{
    height: 100%;
    text-align: right;
}

nav.topbar .login button{
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1em;
}

nav.topbar .header-menu li{
    padding-left: 25px;
    color: white;
}

.header-title{
    color: white;
    height: 100%;
    width: 800px;
    min-width: 500px;
    text-align: center;
    padding-top: 120px;
}

.header-title h1{
    font-size: 50px;
    padding-bottom: 30px;
}

.header-title p{
    line-height: 30px;
    font-size: 1.3em;
    padding-bottom: 20px;
}

.header-title button:first-of-type{
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
    font-size: 1em;
    margin-right: 20px;
}

.header-title button:last-of-type{
    background-color: rgb(36, 36, 36);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
    font-size: 1em;
}

.down-arrow{
    font-size: 15px;
    margin-right: 10px;
}

.first-main-section,
.second-main-section,
.third-main-section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.first-main-section .img-box,
.second-main-section .img-box,
.third-main-section .img-box{
    width: 700px;
    height: 100%;
}

.first-main-section .text-box,
.second-main-section .text-box,
.third-main-section .text-box{
    font-size: 1.3em;
    text-align: left;
    padding: 30px 200px 0 150px;
    width: 700px;
    height: 100%;
}

.first-main-section .text-box h1,
.second-main-section .text-box h1,
.third-main-section .text-box h1{
    font-size: 40px;
    padding-bottom: 20px;
}

.first-main-section .text-box p{
    line-height: 30px;
}

.second-main-section .text-box p{
    line-height: 30px;
}


.third-main-section .text-box p{
    line-height: 30px;
}

.fourth-main-section{
    padding-top: 100px;
}

.fourth-main-section .img-box img{
    width: 1300px;
    min-width: 500px;
    padding-left: 50px;
}

.fourth-main-section .text-box{
    text-align: center;
    padding: 0 150px;
}

.fourth-main-section h1{
    font-size: 45px;
    padding-bottom: 30px;
}

.fourth-main-section p{
    line-height: 30px;
    font-size: 1.3em;
    padding-bottom: 20px;
}

.adventure-section{
    text-align: center;
    padding-bottom: 100px;
}

.adventure-section h3{
    font-size: 30px;
    padding-bottom: 20px;
}

.adventure-section button{
    background-color: rgb(103, 96, 202);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 1em;
}

.footer-end-container nav ul{
    list-style-type: none;
}

.footer-end-section img{
    vertical-align: middle;
}

.footer-end-container .login button{
    background-color: rgb(103, 96, 202);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 1em;
}

.bg-gray{
    width: 100%;
    background-color: rgb(235, 235, 235);
}

.clearfix::after{
    content:'';
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}