*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 600px;
}

.header-container{
    max-width: 1400px;
    margin: 0 auto;
}

.header-container nav li{
    display: inline-block;
    font-size: 1.2em;
}

.header-container nav ul{
    display: inline-block;
    list-style-type: none;
}

.header-container nav img{
    vertical-align: middle;
}

nav.topbar{
    height: 80px;
    line-height: 80px;
}

nav.topbar .header-menu{
    height: 100%;
    padding-left: 340px;
}

nav.topbar .login{
    height: 100%;
    text-align: right;
}

nav.topbar .login li{
    background-color: white;
    border-radius: 25px;
    padding: 0 15px;
}

nav.topbar .header-menu li{
    padding-left: 25px;
    color: white;
}


.clearfix::after{
    content:'';
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}